.Container{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.Form{
display: flex;
align-items: center;
flex-direction: column;
width: 30%;
margin: 20px;
background-color: #EDA83B ;
box-shadow: 5px 5px 5px black;
padding: 10px;
}

.Form input{
    margin: 10px;
    border-radius: 5px;
    height: 30px;
}

.Form input:focus{
    background-color: rgb(189, 186, 186);
}