* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 30vh;
    width: 100%;
    background-image: linear-gradient( to right, #202022, #878787);
    justify-content: space-evenly;
}

.Header img{
    width: 35%;
    display: flex;
    height: 200;
    width: 200;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;

}

.nav{
    width: 80%;
    align-items: flex-start;
    font-family: monospace;

}

.ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

.ul li{
    display: inline;
   text-decoration: none;
   margin: 35px;
}

.ul a{
    text-decoration: none;
    color: whitesmoke;
}

@media (max-width: 991px) {
    .ul {
        font-size: calc(1vw + 0.7rem);
    }

    .Header {
        display: flex;
        flex-direction: column;
    }

    .ul {
        padding-bottom: 5vh;
    }
}


