.btn{
    display: flex;
}
.btn button{
    background-color: black;
    width: 2em;
    height: 2em;
    box-sizing: border-box;
    font-size: 50px;
    border-radius: 100%;
    margin: 1%;
    padding: 0%;
    align-items: center;
    text-align: center;
}
.btn button:hover {
    width: 2.1em;
    height: 2.1em;
    border: red solid 1px;
}