.cardapio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
    height: 100vh;
    margin: 10vh 10vw;
   
}

@media (max-width: 991px) {
.cardapio {
    flex-direction: column;
    }
    
}