.cardapio{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-top: 60px;
    height: 100vh;
    margin: 5vh 5vw;
    width: 60%;
   
}

@media (max-width: 991px) {
.cardapio {
    flex-direction: column;
    }
    
}