.item{
    border: #F2B544 solid 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 25%; */
    height: 35vh;
    margin: 2vh ;
    padding-bottom: 1rem;
}
.item img{
    width: 20vh;
}