.item{
    border: #F2B544 solid 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25%;
    height: 35vh;
    margin: 2vh ;
    padding: 3vh;
}
.item img{
    max-width: 20vh;
}

@media (max-width: 991px) {
    .item {
        padding: 5vh;
        display: flex;
        width: 35vh;
        margin: 3vh auto;
    }

    .item img {
    width: 15vh;
    }
    
}