.cardapio{
    display: grid;
    grid-template-columns: 300px 300px 300px;  
    justify-content: space-between;
    margin-top: 60px;
    height: 100vh;
    margin: 5vh 10vw;   
    width: 70%;
      
}

@media (max-width: 991px) {
    .cardapio{
        margin: 0%;
        height: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
/* .cardapio {
    display: grid;
    grid-template-columns: 200px 200px;
    margin: auto;
    padding: auto;
    width: auto;

    } */
    
}